
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:5%;">
    <div class="col-md-12">

        <div class="form-group">
            <label for="Album" class="col-md-2 control-label">Seleccione Album</label>
            <div class="col-md-10">
                <select class="form-control" name="album" id="lstAlbum"></select>
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" id="btnVisualizar">Visualizar Album</button>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div id="PhotosTable">
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Comentarios fotos</h4>
            </div>
            <div class="modal-body">

              

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>


@section Scripts {

    <script src="~/Content/Album.js"></script>
}

